streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
validators==0.28.1
youtube-transcript-api
unstructured
pytube
torch==2.2.2
torchvision==0.17.2